mixin dynamicList(title, items)
  li.footer__item
    .footer__field=title
    ul.footer__submenu
      each item in items
        li.footer__subitem
          a(href="#", target="_blank", rel="noopener noreferrer")=item

mixin dynamicService(name)
  li.footer__service__item
    a(href="#", target="_blank", rel="noopener noreferrer", class="footer__service__link")=name

mixin imagePNG(name)
  img(src=`../image/${name}.png`, alt=`${name}`, class=`${name}`)

mixin imageJPEG(name)
  img(src=`../image/${name}.jpeg`, alt=`${name}`, class=`${name}`)


mixin link(name)
    a(href="#", target="_blank", rel="noopener noreferrer")=name

mixin linkLogo(name)
    a(href="#", target="_blank", rel="noopener noreferrer")
        img(src=`../image/${name}.png`, alt=`${name}`, class=`${name}`)

mixin spotlightCard(picture, title, context)
  .spotlight__col
    .spotlight__card
      a.spotlight__card__wrapper
        img(src=`../image/${picture}.jpeg`, alt=`${picture}`, class=`spotlight__card__image`)
        .spotlight__card__body
          h3.spotlight__card__title=title
          p.spotlight__card__context=context

mixin odmSpotlightCard(picture, title, context)
    img(src=`../image/${picture}.jpeg`, alt=`${picture}`, class=`odmSpotlight__card__image`)
    .odmSpotlight__card__body
      h3.odmSpotlight__card__title=title
      p.odmSpotlight__card__context=context

mixin smartCard(picture, title)
  img(src=`../image/${picture}.png`, alt=`${picture}`, class=`featureOfSmartList__image`)
  .featureOfSmartList__product
    h3.featureOfSmartList__title=title

mixin serviceIcon(iconType, title)
  a(href="#", target="_blank", rel="noopener noreferrer", class="serviceArea__link")
    .serviceArea__icon
      span(class="serviceArea__linkIcon "+iconType)
    span.serviceArea__title=title

mixin socialMarketing(picture, title, context)
    a(href="#", target="_blank", rel="noopener noreferrer", class="socialMarketing__link")
      figure.socialMarketingWrapper
        img(src=`../image/${picture}.webp`, alt=`${picture}`, class="socialMarketing__image")
      .socialMarketing__body
        h3.socialMarketing__title=title
        p.socialMarketing__context=context